# Task 02 – Query & Thống kê dữ liệu

Mục tiêu: Thực hiện các truy vấn và thống kê mô tả theo yêu cầu

In [1]:
import pandas as pd

shipper = pd.read_csv('../data_clean/shipper_clean.csv')
order   = pd.read_csv('../data_clean/order_clean.csv')
rating  = pd.read_csv('../data_clean/rating_clean.csv')

In [2]:
order_count = order.groupby('shipper_id')['order_id'].count()
order_count

shipper_id
S01    1
S02    1
S03    1
Name: order_id, dtype: int64

In [3]:
order_no_rating = order[~order['order_id'].isin(rating['order_id'])]
order_no_rating.head()

Empty DataFrame
Columns: [order_id, shipper_id, distance_km, delivery_time_min]
Index: []

In [4]:
avg_distance = order['distance_km'].mean()
avg_distance

np.float64(5.0)

In [5]:
order_shipper = order.merge(
    shipper[['shipper_id', 'region']],
    on='shipper_id',
    how='left'
)

avg_time_region = order_shipper.groupby('region')['delivery_time_min'].mean()
avg_time_region

region
Bắc      30.0
Trung     NaN
Name: delivery_time_min, dtype: float64