# Task 04 – Merge dữ liệu

Mục tiêu: Kết hợp các bảng dữ liệu để tạo bảng phân tích hoàn chỉnh

In [1]:
import pandas as pd

shipper = pd.read_csv('../data_clean/shipper_clean.csv')
order = pd.read_csv('../data_clean/order_clean.csv')
rating = pd.read_csv('../data_clean/rating_clean.csv')

In [2]:
shipper_order = pd.merge(
    order,
    shipper,
    on='shipper_id',
    how='left'
)

shipper_order.head()

  order_id shipper_id  distance_km  delivery_time_min      full_name region
0      O01        S01          5.0               30.0  Nguyen  Van A    Bắc
1      O02        S02          NaN                NaN    Tran Thi  B  Trung
2      O03        S03          NaN               45.0            NaN    NaN

In [3]:
final_data = pd.merge(
    shipper_order,
    rating,
    on='order_id',
    how='left'
)

final_data.head()

,order_id,shipper_id,distance_km,delivery_time_min,full_name,region,rating
0,O01,S01,5.0,30.0,Nguyen Van A,Bắc,5.0
1,O02,S02,NaN,NaN,Tran Thi B,Trung,NaN
2,O03,S03,NaN,45.0,NaN,NaN,NaN

In [4]:
final_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   order_id           3 non-null      object
 1   shipper_id         3 non-null      object
 2   distance_km        1 non-null      float64
 3   delivery_time_min  2 non-null      float64
 4   full_name          2 non-null      object
 5   region             2 non-null      object
 6   rating             1 non-null      float64
dtypes: float64(3), object(4)
memory usage: 296.0+ bytes

In [5]:
final_data.to_csv('../data_clean/final_merged_data.csv', index=False)