# Task 01 – Data Cleaning

Mục tiêu: Đọc và làm sạch dữ liệu shipper, order và rating

In [11]:
import pandas as pd
import numpy as np

In [12]:
import os
print(os.getcwd())
print(os.listdir('../data_raw'))

c:\Users\ASUS\Desktop\18A2_Nhom_12_Case_3 (1)\task01_cleaning
['customer_rating.csv', 'order_info.csv', 'shipper_info.csv']

In [13]:
shipper = pd.read_csv('../data_raw/shipper_info.csv')
order   = pd.read_csv('../data_raw/order_info.csv')
rating  = pd.read_csv('../data_raw/customer_rating.csv')

shipper.head()

  shipper_id        full_name region
0       S01    nguyen  van a     bac
1        S02      Tran thi  B  Trung
2        s03        LE van c     nam
3         })              NaN    NaN

In [14]:
shipper['shipper_id'] = shipper['shipper_id'].astype(str).str.strip()
shipper['full_name'] = shipper['full_name'].str.strip().str.title()

shipper['region'] = (
    shipper['region']
    .str.strip()
    .str.lower()
    .replace({
        'bac': 'Bắc',
        'trung': 'Trung',
        'nam': 'Nam'
    })
)

In [15]:
order['distance_km'] = (
    order['distance_km']
    .astype(str)
    .str.replace('[^0-9.-]', '', regex=True)
)

order['distance_km'] = pd.to_numeric(
    order['distance_km'],
    errors='coerce'
)

order.loc[order['distance_km'] < 0, 'distance_km'] = np.nan

In [16]:
rating['rating'] = pd.to_numeric(rating['rating'], errors='coerce')
rating.loc[~rating['rating'].between(1, 5), 'rating'] = np.nan

In [17]:
shipper.to_csv('../data_clean/shipper_clean.csv', index=False)
order.to_csv('../data_clean/order_clean.csv', index=False)
rating.to_csv('../data_clean/rating_clean.csv', index=False)