# Task 03 – GroupBy & Tổng hợp dữ liệu

Mục tiêu: Phân tích hiệu suất giao hàng bằng các phép groupby

In [1]:
import pandas as pd

shipper = pd.read_csv('../data_clean/shipper_clean.csv')
order = pd.read_csv('../data_clean/order_clean.csv')
rating = pd.read_csv('../data_clean/rating_clean.csv')

In [2]:
data = (
    order
    .merge(shipper, on='shipper_id', how='left')
    .merge(rating, on='order_id', how='left')
)

data.head()

,order_id,shipper_id,distance_km,delivery_time_min,full_name,region,rating
0,O01,S01,5.0,30.0,Nguyen Van A,Bắc,5.0
1,O02,S02,NaN,NaN,Tran Thi B,Trung,NaN
2,O03,S03,NaN,45.0,NaN,NaN,NaN

In [3]:
avg_time_shipper = data.groupby('shipper_id')['delivery_time_min'].mean()
avg_time_shipper

shipper_id
S01    30.0
S02     NaN
S03    45.0
Name: delivery_time_min, dtype: float64

In [4]:
avg_distance_region = data.groupby('region')['distance_km'].mean()
avg_distance_region

region
Bắc      5.0
Trung    NaN
Name: distance_km, dtype: float64

In [5]:
fastest_shipper = avg_time_shipper.idxmin()
fastest_shipper

'S01'

In [6]:
shipper_performance = data.groupby('shipper_id').agg({
    'delivery_time_min': 'mean',
    'rating': 'mean'
}).sort_values(
    by=['delivery_time_min', 'rating'],
    ascending=[True, False]
)

shipper_performance

            delivery_time_min  rating
shipper_id
S01                      30.0     5.0
S03                      45.0     NaN
S02                       NaN     NaN